* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero-image {
    background-image: url("https://media.istockphoto.com/id/1147315283/photo/bathroom-interior-space-in-shopping-mall.jpg?s=170667a&w=0&k=20&c=xQ2QUrlhA3WHoc4jzd-maCd4jtxHg1h8rlCK_VK31Ko=");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-text h2 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 25px;
    margin-bottom: 40px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
